@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', Arial;
}

body {
    background-color: #F5F8FA;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    background: #fff;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 10px rgb(110, 110, 110, .2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #AAB8C2;
}
.box-one label{
    margin-top: 10px;
}
.box,
.box button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.box {
    flex-direction: column;
    justify-content: space-evenly;
}

.box button {
    width: 300px;
    height: 40px;
    background-color: #fff;
    outline: none;
    font-weight: bold;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 20px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}


.box-two input {
    position: relative;
    width: 300px;
    height: 45px;
    outline: none;
    margin-bottom: 10px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 4px;
    padding-left: 10px;
}

.box-two input label {
    position: absolute;
    top: 0;
}

.box-two input::placeholder {
    font-size: 1rem;
}

.box-two input:focus {
    border: 1px solid #00acee;
}

.box-two .next-btn {
    background-color: #121212;
    color: #fff;
}

.container p {
    font-size: .7rem;
    color: rgb(138, 136, 136);
}

.container p a {
    text-decoration: none;
    color: #00acee;
}

input[type="file"] {
    display: none;
}
label img{
    width: 70px;
    height: 70px;
}
.box-one{
    padding-top: 10px;
}
#user{
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.8;
}

@media screen and (max-width: 460px) {
    .container {
        width: 350px;
    }
}

@media screen and (max-width: 300px) {
    .container {
        width: 98%;
    }

    .box,
    .box button {
        width: 100%;
    }
    .box input {
        width: 90%;
    }
}